<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Books
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-img src="https://upload.wikimedia.org/wikipedia/en/a/a9/Harry_Potter_and_the_Deathly_Hallows.jpg" no-margin no-padding style="width: 10%"></ion-img>
      <ion-card-subtitle>Fantasy Fiction</ion-card-subtitle>
       <ion-card-title>Harry Potter and the Deathly Hallows</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Harry Potter and the Deathly Hallows is a fantasy novel written by British author J. K. Rowling and the seventh and final novel in the Harry Potter series. It was released on 21 July 2007 in the United Kingdom by Bloomsbury Publishing, in the United States by Scholastic, and in Canada by Raincoast Books.
   </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-img src="https://m.media-amazon.com/images/I/714ExofeKJL._AC_UF1000,1000_QL80_.jpg" no-margin no-padding style="width: 10%"></ion-img>
      <ion-card-subtitle>Fantasy Fiction</ion-card-subtitle>
       <ion-card-title>A Game of Thrones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A Game of Thrones is the first novel in A Song of Ice and Fire, a series of fantasy novels by American author George R. R. Martin. It was first published on August 6, 1996. The novel won the 1997 Locus Award and was nominated for both the 1997 Nebula Award and the 1997 World Fantasy Award.
   </ion-card-content>
  </ion-card>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
